body {
    background-color: cornflowerblue;
    font-family: 'Courier New', Courier, monospace;
    padding: 35px;
}

.heading {
    align-self: center;
    border: 4px cornsilk inset;
    background-color: cornsilk;
    padding: 20px;
    text-align: center;
    margin: 10px 0 10px 0;
}

.logo {
    height: 100px;
    float: left;
    margin: 10px;
}

.os {
    height: 40px;
    float: right;
    margin: 20px;
}

.greeting {
    font-size: 24px;
    font-weight: bold;
    color: chocolate;
}

.content {
    border: 4px cornsilk inset;
    background-color: cornsilk;
    padding: 20px;
    text-align: center;
    text-justify: auto;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

.menu {
    border-color: cornflowerblue;
    border-radius: 85% 0 80% 30%;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: olivedrab;
    font-size: 12px;
    background-color: cornsilk;
    margin: 10px;
}

.bottom {
    margin: 10px 0 10px 0;
    border: 4px cornsilk inset;
    background-color: cornsilk;
    font-size: small;
    text-align: center;
}

a {
    color: cornflowerblue;
}

a:hover {
    color: cornflowerblue;
}

a:active {
    color: cornflowerblue;
}