body {
    background-color: cornflowerblue;
    font-family: 'Courier New', Courier, monospace;
    margin: 35px;
}

.heading {
    border: 6px cornsilk dotted;
    background: linear-gradient(orange, gold, cornsilk, lightGreen, green);
    padding: 10px;
    text-align: center;
    margin: 10px 0 10px 0;
}

.logo {
    width: 15%;
    height: 15%;
    float: left;
    margin: 10px;
    position: absolute;
}

.sun {
    margin-top: 30px;
    float: right;
    width: 10%;
    height: 10%;
    position: absolute;
}

.greeting {
    font-size: 24px;
    font-weight: bold;
    color: chocolate;
}

.content {
    border: 6px cornsilk dotted;
    background: linear-gradient(green, lightGreen, white, chocolate, grey);
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: olivedrab;
}

.menu {
    border-color: cornflowerblue;
    border-radius: 85% 0 80% 0;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: olivedrab;
    font-size: 12px;
    background-color: cornsilk;
}

.bottom {
    margin: 10px 0 10px 0;
    border: 2px cornsilk solid;
    font-size: small;
    text-align: center;
}